/*_tn-components_________________________________________*/
/* Block Headline */
.tn-headline {
	display: block;
	margin: 10px 0 20px 0;
	border-bottom: 1px dotted $gray-border;
	h2 {
		font-size: 22px;
		font-weight: normal;
	}
	h3 {
		font-size: 20px;
		font-weight: normal;
		small {
			font-size: 12px;
		}
	}
	h2, h3, h4 {
		margin: 0 0 -2px 0;
		padding-bottom: 10px;
		display: inline-block;
		border-bottom: 2px solid $theme-color;
	}
}
.tn-headline-md {
	margin-bottom: 15px;
	h2 {
		font-size: 21px;
	}
}

/* Heading Options */
.tn-heading {
	text-align: center;
	h2 {
		padding: 0 12px;
		position: relative;
		display: inline-block;
		line-height: 34px !important;
		&:before, &:after {
			content: ''; 
			width: 70%; 
			position: absolute; 
			border-width: 1px; 
			border-color: title-border;
		}
		&:before {
			right: 100%;
		}
		&:after {
			left: 100%;
		}
	}
}
.tn-heading-v1 h2:before,
.tn-heading-v1 h2:after {
	top: 15px;
	height: 6px;
	border-top-style: solid;
	border-bottom-style: solid;
}

// Box
.tn-box {
	padding: 20px;
	.tn-box-header {
		font-size: 16px;
		line-height: 1;
		padding-bottom: 15px;
		margin-bottom: 10px;
		border-bottom: solid $gray-border 1px;
	}
}
.tn-box-v1 {
	background-color: $box-bg;
	border: solid $gray-border 1px;
}
.tn-box-v2 {
	background-color: $box-bg;
	border: {
		style: solid;
		width: 2px 1px 1px;
		color: $theme-color $gray-border $gray-border;
	}
}
.tn-box-v3 {
	background-color: $box-bg;
	border: {
		style: solid;
		width: 1px 1px 2px;
		color: $gray-border $gray-border $theme-color;
	}
}
.tn-box-v4 {
	background-color: $box-bg;
	border: {
		style: solid;
		width: 1px 1px 1px 2px;
		color: $gray-border $gray-border $gray-border $theme-color;
	}
}
.tn-box-v5 {
	background-color: $box-bg;
	border: dashed $gray-border 1px;
	.tn-box-header {
		border-bottom-style: dashed;
	}
}
.tn-box-v6 {
	background-color: $box-bg;
	border: solid $gray-border 2px;
	.tn-box-header {
		border-bottom-width: 2px;
	}
}
.tn-box-v7 {
	background-color: $gray;
	border: solid $gray-border 1px;
}
.tn-box-v8 {
	background-color: $gray;
	border: {
		style: solid;
		width: 2px 1px 1px;
		color: $theme-color $gray-border $gray-border;
	}
}
.tn-box-v9 {
	background-color: $light-bg;
	border: solid $light-border 1px;
	.tn-box-header {
		border-bottom-color: $light-border;
	}
}

// Nine Cells Photo
.tn-chat-photo {
	width: 480px;
	margin: 15px 0 5px;
	.tn-photo-item {
		float: left;
		width: 150px;
		margin: 0 10px 10px 0;
		overflow: hidden;
	}
}

// Back To Top
#topcontrol {
    background: #222 none repeat scroll 0 0;
    border-radius: 3px !important;
    bottom: 11px !important;
    color: #fff;
    font-size: 20px;
    height: 30px;
    position: relative;
    right: 14px !important;
    width: 30px;
    z-index: 99999;
	&::after {
	    content: "\f106";
	    font-family: FontAwesome;
	    left: 8.5px;
	    position: absolute;
	    text-align: center;
	    top: -3px;
	}
	&:hover {
	    background-color: $theme-color;
	    color: #fff;
	    transition: all 0.3s ease-in-out 0s;
	}
}

// Selector
/*.tn-chosen-container {
	background-color: #fff;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    min-height: 34px;
    line-height: 20px;
}
.tn-chosen-choices {
	list-style-type: none;
	margin: 0;
	padding: 0px;
}
.tn-choice-item {
	float: left;
	border-radius: 3px;
	padding: 2px 6px;
	margin: 2px;
	font-size: 12px;
	a {
		color: $text-color;
		&:hover {
			color: $theme-color;
		}
	}
}
.tn-choice-add {
	float: left;
	margin: 2px;
	a {
		padding: 1px 6px;
		border-radius: 3px;
		border: solid #ccc 1px;
		color: #333;
		background-color: #fff;
		display: block;
		font-size: 12px;
		&:hover {
			background-color: #e6e6e6;
		    border-color: #adadad;
		    color: #333;
		    text-decoration: none;
		}
	}
}
.tn-selector-wrap.bottom > .arrow {
	left: 30px;
}
.tn-user-selector {
	overflow-y: scroll;
	max-height: 250px;
	.tn-user-item {
		cursor: pointer;
		&:hover {
			background-color: $gray;
		}
	}
}
.tn-users-selector-mod {
	.ztree {
		width: 450px;
		height: 420px;
		float: left;
		overflow-y: auto;
		border-left: solid #ddd 1px;
		border-right: solid #ddd 1px;
	}
	.tn-double-arrow {
		color: #ddd;
		float: left;
		font-size: 28px;
		width: 38px;
		margin-top: 200px;
		text-align: center;
	}
	.tn-chosen-choices {
		float: right;
		position: relative;
		width: 280px;
		height: 420px;
		padding: 10px;
		margin-top: 15px;
		border: solid #ddd 1px;
		overflow-y: auto;
	}
}*/
.tn-chosen-container {
	background-color: #fff;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    min-height: 34px;
    line-height: 20px;
}
.tn-chosen-choices {
	list-style-type: none;
	margin: 0;
	padding: 0px;
}
.tn-choice-item {
	float: left;
	border-radius: 3px;
	padding: 2px 6px;
	margin: 2px;
	font-size: 12px;
	a {
		color: $text-color;
		&:hover {
			color: $theme-color;
		}
	}
}
.tn-choice-add {
	float: left;
	margin: 2px;
	a {
		padding: 1px 6px;
		border-radius: 3px;
		border: solid #ccc 1px;
		color: #333;
		background-color: #fff;
		display: block;
		font-size: 12px;
		&:hover {
			background-color: #e6e6e6;
		    border-color: #adadad;
		    color: #333;
		    text-decoration: none;
		}
	}
}
.tn-selector-wrap.bottom{
           width: 240px;
    min-height: 230px;
    left:2px;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    z-index: 1111;
    padding: 15px 0;
    input{
            border:none;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow:none;
    box-shadow:none ;
    outline: none;
    width: 100%;
    padding-left: 20px !important;
    border-radius: 0;
    }
}
.tn-selector-wrap.bottom > .arrow {
	left: 30px;
}
.tn-user-selector {
	overflow-y: auto;
	max-height: 250px;
    margin-top:10px;
	.tn-user-item {
		cursor: pointer;
        padding:0 20px;
        line-height:30px;
        i{
            width:20px;
            margin-right:0;
        }
        span{
            width:178px;
            display:inline-block;
        }
		&:hover {
			background-color: #e5e5e5;
		}
	}
    .tn-user-item.selected{
        background-color: $theme-color;
        color:#fff;
        position:relative;
        :after{
                content: "\f00c";
    position: absolute;
    top: 8px;
    left:2px;
    font-family: FontAwesome;
    color: #fff;
        }
    }
}
.tn-user-default,.tn-user-unfound{
    color:#999;
    i{
        font-size: 7em;
        margin-top:25px;
        margin-bottom :10px;
    display: block;
    }
}
.tn-users-selector-mod {
	.ztree {
		width: 450px;
		height: 420px;
		float: left;
		overflow-y: auto;
		border-left: solid #ddd 1px;
		border-right: solid #ddd 1px;
	}
	.tn-double-arrow {
		color: #ddd;
		float: left;
		font-size: 28px;
		width: 38px;
		margin-top: 200px;
		text-align: center;
	}
	.tn-chosen-choices {
		float: right;
		position: relative;
		width: 280px;
		height: 420px;
		padding: 10px;
		margin-top: 15px;
		border: solid #ddd 1px;
		overflow-y: auto;
	}
}
//jinhu用户选择
.jh-user-selector{
        width: 240px;
    top: 50px;
    min-height: 260px;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    z-index: 1111;
    padding: 15px 0;
}

// Tree Menu
.tn-tree-menu {
	// border-radius: 0;
	// box-shadow: 0 0 0;
	.tn-tree-wrap {
		padding: 0 0 1px;
	}
	.tn-simple-tree {
		border-width: 0;
		//margin: -1px 0;
		li {
			border-width: 0;
			a {
				float: none;
				display: block;
				position: relative;
				&.curSelectedNode {
					color: $theme-color;
				}
			}
			span {
				&.button.root_docu, &.button.roots_docu, &.button.center_docu, &.button.bottom_docu {
					+ a.curSelectedNode {
						background-color: $gray;
						&::after {
						font-family: FontAwesome;
						content: "\f0da";
						position: absolute;
						right: 10px;
						top: 6px;
						}
					}
				}
			}
		}
	}
}

// Icon Block
.tn-icon-block {
	&.tn-icon-block-v1 {
		i.fa {
			float: left;
			margin-top: 5px;
			color: $blue;
		}
		.tn-icon-cont {
			padding: 0 0 0 15px;
			overflow: hidden;
			p {
				margin-bottom: 0;
				line-height: 32px;
				height: 32px;
			}
			strong {
				font-weight: normal;
				font-size: 24px;
			}
		}
	}
}

// Bootsrap Table
.fixed-table-pagination {
	padding: 0 15px;
}

// Error Page
.tn-error-page {
	background-color: $gray;
}
.tn-error-mod {
	margin-top: 150px;
	text-align: center;
   .tn-error-title.tn-no-access{
        font-size: 80px;
        padding:57px;
    }
	.tn-error-title {
		position: relative;
		font-size: 160px;
		margin-bottom: 60px;
		background-color: $box-bg;
		color: $text-muted;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		&:before {
			content: "\f1d8";
			position: absolute;
			top: -110px;
			right: 50px;
			font-family: FontAwesome;
			font-size: 100px;
			color: $box-bg;
		}
		&:after {
			@include sharp;
			@include sharp-right(50px, $box-bg);
			top: auto;
			right: auto;
			left: 50%;
			bottom: -50px;
		}
	}
	.tn-error-tips {
		font-size: 28px;
		margin-bottom: 10px;
	}
	.tn-error-info {
		font-size: 18px;
		margin-bottom: 20px;
	}
}

// Add pictrue
.tn-survey-form {
	.tn-pic-attachment {
		position: relative;
		img {
			width: 100%;
			max-width: auto;
		}
		.btn {
			position: absolute;
			top: 5px;
			right: 5px;
			display: none;
		}
		&:hover {
			.btn {
				display: block;
			}
		}
	}
	.tn-file-attachment {
		padding: 6px 10px;
		border: solid #ddd 1px;
		border-radius: 4px;
	}
}

// File List
.tn-file-list {
	.tn-file-item {
		padding: 8px 10px;
		border: solid $gray-border 1px;
		border-radius: 3px;
		margin-bottom: 10px;
	}
	.tn-img-item {
		margin-bottom: 10px;
	}
	.progress {
		margin-bottom: 0;
	}
}

// Article detail
.tn-article-summary{
    font-size:14px;
    line-height:1.5;
}
.tn-article-detail {
    color:#333;
    h4{
        font-size:22px;
         line-height:1.45;
        margin-bottom:15px;
    }
     h1{
        font-size:22px;
        line-height:1.45;
        margin-bottom:15px;
    }
     p{
            /*text-align :left;*/
            font-size:16px;
            margin-bottom:30px;
            img{
                max-width:100%;
                margin-top:10px;
            }
            //ie8下视频object
            span{
                display :inline-block !important ;
            }
        }
     .tn-article-summary{
        font-size:14px;
        line-height:1.5;
        margin-bottom:15px;
   }
	.tn-article-title {
		margin:10px 0;
	}
    .tn-article-info{
        color:#959595;
    }
}
    .tn-file-list{
        width:100%;
        background-color:$gray;
        padding :10px
    }

// Talks
.tn-talks {
	.tn-talk-item {
		margin-bottom: 20px;
		.tn-user {
			width: 60px;
			text-align: center;
			.tn-name {
				margin-top: 10px;
				font-weight: bold;
			}
		}
		.tn-talk-box {
			padding: 10px 15px;
			margin: 0 80px;
			border: solid $gray-border 1px;
			border-radius: 5px;
			position: relative;
			background-color: $box-bg;
			&:before {
				@include sharp;
				top: 12px;
			}
			&:after {
				@include sharp;
				top: 12px;
			}
			.tn-text {
				margin-bottom: 5px;
			}
			.tn-feedback {
				font-size: 12px;
				color: $text-muted;
			}
		}
	}
	.tn-talk-self {
		.tn-user {
			float: right;
		}
		.tn-talk-box {
			&:before {
				@include sharp-right(8px, $gray-border);
				right: -9px;
			}
			&:after {
				@include sharp-right(8px, $box-bg);
				right: -8px;
			}
		}
	}
	.tn-talk-others {
		.tn-user {
			float: left;
		}
		.tn-talk-box {
			&:before {
				@include sharp-left(8px, $gray-border);
				left: -9px;
			}
			&:after {
				@include sharp-left(8px, $box-bg);
				left: -8px;
			}
		}
	}
	.tn-talk-form {
		margin: 0 80px;
	}
}
//上传图片插件
.tn-upload-title{
    margin-top: 10px;
    overflow :hidden;
    h6{
            padding: 0 12px;
    position: relative;
    display: inline-block;
    }
    h6:before,h6:after{
            content: '';
    width: 300%;
    position: absolute;
        top:8px;
        border-top:1px solid #ccc;
    }
     h6:before{
         right:100%;
    }
    h6:after{
         left:100%;
    }
}
.tn-upload-content{
    height:300px;
    overflow-y:auto;
    li{
        margin:10px 2px;
        position:relative;
    }
    li:hover{
        .tn-hover-appear{
            display :block;
        }
    }
}
.tn-hover-appear{
    display:none;
    position :absolute;
    top:0;
    left:5px;
    width:150px;
    padding :5px;
    color:#fff;
   background: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B2f5f5f5,endColorstr=#B2f5f5f5);
    span{
        font-size:12px;
        line-height:1.2;
    }
    i{
        color:#fff;
    }
    i:hover{
        color:$theme-color;
    }
}
.tn-upload-hover{
    .icon{
           cursor: pointer;
    width: 150px;
    height: 85px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border: 0;
    margin-left:5px;
    background-repeat: no-repeat;
    }
     .icon:hover{
    border:3px solid $theme-color;
    }  
}
.tn-upload-hover.selected{
    .icon{
            background-image: url(../img/success.png);
    background-position: 110px 45px;
    }
      .icon:hover{
    background-position: 107px 42px;
    } 
}
//ie8下
.no-rgba .edui-default .edui-editor-iframeholder {
    padding-right: 1px;
}