<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="MySql" connectionString="Server=localhost;userid=root;pwd=123456;Database=spacebuilder5" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="SqlServer" connectionString="server=.;database=Spacebuilder5;uid=sa;pwd=123456" />-->
  </connectionStrings>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Linq" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="Tunynet" />
        <add namespace="Tunynet.Common" />
        <add namespace="Tunynet.UI" />
        <add namespace="Tunynet.Settings" />
        <add namespace="Tunynet.CMS" />
        <add namespace="Tunynet.Utilities" />
        <add namespace="Tunynet.Spacebuilder" />
        <add namespace="Tunynet.Post" />
        <add namespace="Tunynet.Logging" />
        <add namespace="CaptchaMvc.HtmlHelpers" />
        <add namespace="Tunynet.Common.Configuration" />
        <add namespace="Tunynet.Tasks" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--分布式部署-->
    <add key="DistributedDeploy" value="false" />
    <add key="FileDistributedDeploy" value="false" />
    <add key="DistributedDeploy:FileServerRootUrl" value="您的WebDav服务器地址" />
    <add key="DistributedDeploy:FileServerUsername" value="服务器登录账号" />
    <add key="DistributedDeploy:FileServerPassword" value="服务器登录密码" />
    <!--SQL语句调试-->
    <add key="MiniProfiler:Enabled" value="false" />
    <!--验证码配置-->
    <add key="CaptchaChars" value="QWERTYUIPASDFGHJKLZCVBNM1234567890qwertyuioplkjhgfdsazxcvbnm" />
    <!--*********************发送短信验证码&&发送邮件验证码配置**************************-->
    <!--阿里云服务账号申请后再填写-->
    <!--访问的Key-->
    <add key="AccessKey" value="您的AccessKey" />
    <!--帐号令牌-->
    <add key="AccessSecret" value="您的AccessSecret" />
    <!--签名-->
    <add key="SignName" value="您的SignName" />
    <!--注册模板编码-->
    <add key="SMSRegisterTemplateCode" value="SMS_46795284" />
    <!--绑定手机模板编码-->
    <add key="SMSBindingTemplateCode" value="SMS_46795288" />
    <!--找回密码模板编码-->
    <add key="SMSResetPassWordTemplateCode" value="SMS_46795282" />
    <!--控制台创建的发信地址-->
    <add key="AccountName" value="您的邮件发送邮箱" />
    <!--短信验证码 ：使用同一个签名，对同一个手机号码发送短信验证码，支持1条/分钟，累计7条/小时； -->
    <!--短信条数/天/同一手机号-->
    <add key="ShortCreedNumber" value="20" />
    <!--邮件条数/天/同一邮箱-->
    <add key="MailArticleNumber" value="20" />
    <!--*********************发送短信验证码&&发送邮件验证码配置**************************-->
    <!--全文检索API-->
    <add key="Search" value="本站地址"/>
    <!--WebApi访问帐号令牌-->
    <add key="ApiAccessSecret" value="6Z2S5bKb5ouT5a6H572R57uc56eR5oqA5pyJ6ZmQ5YWs5Y+4" />
    <!--微信公众号配置-->
    <add key="WeChatAppId" value="您的WeChatAppId" />
    <add key="WeChatAppSecret" value="您的WeChatAppSecret" />
    <!--WebApi和SearchApi合并程序集启用标示开关，用|分割-->
    <add key="ApiMergerAssembly" value="Tunynet.SearchApi.MergerStarter,Spacebuilder.SearchApi" />
    <!--跨域设置-->
    <add key="cors:allowedMethods" value="*" />
    <!--  填写详细的访问域名不然会有 DDoS攻击  -->
    <add key="cors:allowedOrigin" value="本站地址" />
    <add key="cors:allowedHeaders" value="*" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms name="__Authentication" timeout="14400"></forms>
    </authentication>
    <machineKey validation="SHA1" decryption="AES" validationKey="6B0FDBC28D839EA774E4CF8E9D70802A2F3A7728" decryptionKey="72387C7C439B98B23E1158EC039ED6F150D10882ED54A3A5EE67131B69248519" />
    <customErrors mode="RemoteOnly" />
    <compilation targetFramework="4.5" />
    <httpRuntime maxRequestLength="40960" executionTimeout="60" appRequestQueueLimit="100" targetFramework="4.5" />
    <httpModules></httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<modules>
            <remove name="FormsAuthentication" />
        </modules>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024000000" />
      </requestFiltering>
    </security>
    <!--<directoryBrowse enabled="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff2" />
    </staticContent>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.ProtocolBuffers" publicKeyToken="55f7125234beb589" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.555" newVersion="2.4.1.555" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
